body {
  font-family: "Ubuntu", sans-serif;
  display: block;
}

input,
button {
  border-style: inherit;
  border-radius: 12px;
  padding: 5px;
  margin-top: 5px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

button {
  color: #ec6e4c;
  padding: 5px 10px;
}

h1 {
  font-size: 40px;
  margin: 15px 0 10px 0;
}

a {
  font-size: 15px;
  color: black;
}

ul {
  list-style-type: none;
  margin-bottom: 20px;
  font-weight: 500;
  padding-inline-start: 0;
}

button,
.current-icon,
.forecast {
  filter: saturate(150%);
}

.container {
  width: 60%;
  margin: auto;
}

.weather-app {
  background-image: url("../background/sunset rural/sunset-rural-landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1.5px solid #ec6e4c;
  border-style: double;
  border-radius: 20px;
  padding: 20px;
  margin: 5px auto;
}

.search-form,
.temp-display {
  text-align: right;
}

.search-text-input {
  width: 230px;
}

.current-temp {
  font-size: 100px;
  line-height: normal;
}

.current-icon {
  border: 1.5px solid black;
  border-radius: 20px;
  font-size: 100px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.todays-weather-conditions .celsius {
  color: black;
  cursor: default;
  text-decoration: none;
}

.icon {
  margin-left: 7px;
}

.date-description {
  font-size: 9px;
}

.units,
.forecast {
  text-align: center;
}

.forecast {
  border-radius: 20px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.4);
  padding-bottom: 15px;
}

.weekday {
  color: #ec6e4c;
}

.forecast-max-temp {
  font-weight: bold;
}

.forecast-max-temp,
.forecast-min-temp {
  color: #ffff;
}

.footer,
.coder,
.open-source-link,
.netlify-link {
  text-align: center;
  font-size: 10px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  h1 {
    font-size: 200%;
  }
}
