body {
  font-family: "Ubuntu", sans-serif;
  display: block;
}

input,
button {
  border-color: #ff702a;
  border-radius: 12px;
  padding: 5px;
}

button {
  padding: 5px 10px;
}

h1 {
  font-size: 40px;
  margin-top: 15px;
}

a {
  font-size: 15px;
  color: black;
}

ul {
  list-style-type: none;
  margin: 20px 0;
  font-weight: 500;
  padding-inline-start: 0;
}

.container {
  width: 60%;
  margin: auto;
  padding-right: 0;
}

.weather-app {
  background-image: url(https://images.pexels.com/photos/13258325/pexels-photo-13258325.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2v);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1.5px solid #ff702a;
  border-style: inset;
  border-radius: 20px;
  padding: 20px;
  margin: 5px auto;
}

.search-form {
  text-align: right;
}

.search-text-input {
  width: 230px;
}

.todays-weather-row {
  text-align: center;
  height: 68px;
}

.temp-display,
.current-icon {
  border: 1.5px solid black;
  border-radius: 20px;
  margin-right: 7px;
}

.current-temp {
  font-size: 500%;
  line-height: normal;
}

.units,
.icon {
  text-align: left;
}

.weather-conditions .celsius {
  color: black;
  cursor: default;
  text-decoration: none;
}

.icon {
  margin-left: 7px;
}

.forecast {
  text-align: center;
}

.weekday {
  color: #ff702a;
}

.forecast-max-temp {
  font-weight: bold;
}

.forecast-max-temp,
.forecast-min-temp {
  color: #ffff;
}

.footer,
.coder,
.open-source-link,
.netlify-link {
  text-align: center;
  font-size: 10px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }

  h1 {
    font-size: 200%;
  }
}
